<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce - @ViewData["Title"]</title>
    <link rel="stylesheet" asp-append-version="true" href="~/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" asp-append-version="true" href="~/css/site.css">
    <link rel="stylesheet" asp-append-version="true" href="~/lib/font-awesome/css/all.css">
    <link rel="stylesheet" asp-append-version="true" href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css'/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/nouislider@14.6.3/distribute/nouislider.min.css">
    <script asp-append-version="true" src="~/lib/jquery/jquery.min.js"></script>
    <script asp-append-version="true" src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script asp-append-version="true" src="https://cdn.jsdelivr.net/npm/nouislider@14.6.3/distribute/nouislider.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</head>

<body class="d-flex flex-column vh-100">
    <header>    
        <partial name="_Navbar" />
        @RenderSection("Header", false)
    </header>
    <div class="container">
        <div>
            @if (TempData["visible"]?.ToString() != "false")
            {
                <partial name="_Notification" />
            }
        </div>


        <main role="main" class="pb-3" id="main-content">
            @RenderBody()
        </main>
    </div>

    <footer class="mt-5"> 
        <partial name="_Footer" />
        @RenderSection("Footer", false)
    </footer>

    <div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 1100">
        <div id="ajaxToast" class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body" id="ajaxToastBody">
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Kapat"></button>
            </div>
        </div>
    </div>
    <script asp-append-version="true" src="~/js/site.js"></script>

</body>

</html>
