@if (User.Identity.IsAuthenticated)
{
	if (User.IsInRole("Admin"))
	{
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				Hoşgeldin, @User.Identity.Name
			</a>
			<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
				<li><a class="dropdown-item" href="#"><i class="fa fa-solid fa-user"></i> Profilim</a></li>
				<li><a class="dropdown-item" asp-controller="Admin" asp-action="Index"><i class="fa-solid fa-gear"></i> Admin Paneli</a></li>
				<li><a class="dropdown-item" asp-controller="Account" asp-action="Logout"><i class="fa-solid fa-right-from-bracket"></i> Çıkış Yap</a></li>
			</ul>
		</li>
	}
	else
	{
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				Welcome, @User.Identity.Name
			</a>
			<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
				<li><a class="dropdown-item" href="#">Profilim</a></li>
				<li><a class="dropdown-item" href="#">Ayarlar</a></li>
				<li><a class="dropdown-item" asp-controller="Account" asp-action="Logout"><i class="fa-solid fa-right-from-bracket"></i> Çıkış Yap</a></li>
			</ul>
		</li>
	}

	
}
else
{
	<li class="nav-item">
		<a class="nav-link"
		   asp-area=""
		   asp-controller="Account"
		   asp-route-returnUrl="@Context.Request.PathAndQuery()"
		   asp-action="Login"><i class="fa-solid fa-right-to-bracket"></i> Login</a>
	</li>
}

