@model ProductListViewModel
<div class="row ">
    <div class="col-lg-3 col-md-4 mt-4 mb-4">
        @await Component.InvokeAsync("ProductFilterMenu")
    </div>
    <div class="col-lg-9 mt-4 col-md-8">
        <div id="productContainer">
            <partial name="_ProductListPartial" model="Model" />
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            // Sıralama seçeneği değiştiğinde
            $('#sortOptions').change(function() {
                // Burada sortOptions değerine göre AJAX ile ürünleri sıralayabilirsiniz
                // Örnek olarak sayfayı yeniden yükleyerek gösteriyorum
                var sortValue = $(this).val();
                var currentUrl = new URL(window.location.href);
                currentUrl.searchParams.set('sort', sortValue);
                window.location.href = currentUrl.toString();
            });
        });
    </script>
}
